#your-garage-overall-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

#your-garage-second-container {
  max-width: 1120px;
  width: 80%;
  padding-left: 80px;
  padding-right: 80px;
}

#your-garage-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  font-size: 2.6em;
  width: 320px;
}

#your-garage-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 70% 30%;
  column-gap: 35px;
}

#your-garage-left-side-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  gap: 15px;
}

#your-garage-car-container {
  width: 100%;
  min-width: 210px;
  max-width: 300px;
  background-color: rgb(41, 41, 41);
  border: solid 1px #444444;
  color: rgb(215, 215, 215);
  min-height: 300px
}

#your-garage-car-image-container {
  display: flex;
  height: 240px;
  background-color: black;

}

#your-garage-car-image {
  display: block;
  width: 100%;
  /* height: 100%; */
}

#delete-car-icon {
  position: relative;
  bottom: 10px;
  left: 75%;
  color: red;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
}

#delete-car-icon:hover i {
  transform: scale(1.4);
  transition: 0.4s ease all;
}

#your-garage-confirmation-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  justify-content: center;
  background-color: black;
  padding: 10px;
}

#your-garage-confirmation-text {
  width: 100%;
  /* margin-bottom: 20px; */
}

#your-garage-confirmation-text-small {
  width: 100%;
  margin-bottom: 20px;
}

#your-garage-confirmation-options-container {
  display: flex;
  justify-content: space-around;
}

#your-garage-confirmation-yes {
  color: #450e678d;
  background-color: rgb(231, 231, 231);
  border: solid #450e67 2px;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#your-garage-confirmation-no {
  background-color: #450e67;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#your-garage-confirmation-yes:hover {
  color: rgb(215, 215, 215);
  background-color: #771d13;
  border: solid #771d13 2px;
  transition: 0.4s ease all;
  cursor: pointer;
}

#your-garage-confirmation-no:hover {
  background-color: #250838;
  transition: 0.4s ease all;
  cursor: pointer;
}

#your-garage-car-details-wrapper {
  padding: 10px;
  padding-bottom: 30px;
}

#your-garage-conditions-make-model-container {
  width: 100%;
  margin-bottom: 10px;
}

#your-garage-new-label {
  font-size: 0.75em;
  color: rgb(215, 215, 215, 0.5);
}

#your-garage-make-model {
  font-size: 0.95em;
  color: rgb(215, 215, 215, 0.8);
}

#your-garage-milage {
  font-size: 0.85em;
  color: rgb(215, 215, 215, 0.8);
  margin-bottom: 10px;
}

#your-garage-price {
  font-size: 1.4em;
  margin-bottom: 8px;
}

#your-garage-edit-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#your-garage-edit-listing-button {
  text-decoration: none;
  color: rgb(215, 215, 215);
  background-color: #450e67;
  border: solid #450e67 2px;
  border-radius: 5px;
  width: 80%;
  height: 32px;
  font-weight: bold;
  /* margin-bottom: 30px; */
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#your-garage-edit-listing-button:hover {
  background-color: #250838;
  border: solid #250838 2px;
}

#your-garage-right-side-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#your-garage-right-side-wrapper {
  padding: 10px;
  margin-top: 20px;
  /* background-color: white; */
}

#your-garage-add-car-title {
  font-size: 1.8em;
  margin-bottom: 25px;
}

#your-garage-add-car-text {
  margin-bottom: 20px;
}

#your-garage-add-car-button {
  text-decoration: none;
  color: rgb(215, 215, 215);
  background-color: #450e67;
  border: solid #450e67 2px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#your-garage-add-car-button:hover {
  background-color: #250838;
  border: solid #250838 2px;
}

/**********Media Queries**********/

@media screen and (max-width: 1120px) {
  #your-garage-left-side-grid {
    grid-template-columns: auto;
    gap: none;
  }
}
