#saved-cars-overall-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

#saved-cars-second-container {
  max-width: 1120px;
  width: 80%;
  padding-left: 80px;
  padding-right: 80px;
}

#saved-cars-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  font-size: 2.6em;
  /* width: 320px; */
}
